.git
.github
.idea
venv
__pycache__
pytest-cache-files-*
.pytest_cache
**/.pytest_cache

*.pyc
docs_src/.quarto
docs_src/_site
node_modules
dist
apps/brdr-viewers/node_modules
apps/brdr-viewers/dist
apps/brdr-viewers/.vite
mapstore
