.git
.github
.idea
venv
__pycache__
pytest-cache-files-*
.pytest_cache/

*.pyc
docs_src/.quarto
docs_src/_site
brdr-viewer/brdr-viewer/node_modules
brdr-viewer/brdr-viewer/dist
brdr-viewer/brdr-viewer/.vite
